<% if @microposts.any? %>
	<h1><%= @feed_title %></h1>

	<ul class="microposts">
		<% @microposts.each do |micropost| %>
			<li>
				<%= link_to gravatar_for(micropost.user), micropost.user %>
				<span class="user"><%= link_to micropost.user.name, micropost.user %></span>
				<span class="content"><%= micropost.content %></span>
				<span><i class="timestamp">posted <%= time_ago_in_words(micropost.created_at) %> ago</i></span>

				<% if current_user?(micropost.user) %>
					<%= link_to "delete", micropost, method: :delete, data: { confirm: "Are you sure you want to delete this micropost?" } %>
				<% end %>
			</li>
		<% end %>
	</ul>

	<%= will_paginate @microposts %>
<% else %>
<% end %>
