<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-sm-4">
				<%= gravatar_for @user %>
				<span><%= @user.name %></span>

				<div class="row stats">
					<div class="col-sm-6">
						<p>
							50
							<br>
							following
						</p>
					</div>

					<div class="col-sm-6">
						<p>
							77
							<br>
							followers
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-8">
				<h1>Microposts (<%= @user.microposts.count %>)</h1>
				<hr>

				<ul class="microposts">
					<% @user.microposts.each do |micropost| %>
						<li>
							<h4><%= micropost.content %></h4>
							<i><%= time_ago_in_words(micropost.created_at) %> ago</i>
							<hr>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>
